[submodule "vim"]
	path = vim
	url = https://github.com/vharish/myvim
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/vharish/.emacs.d/
